# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
Interface/重复确认.har
Interface/重复项.har
Interface/errorreparent.har
Interface/reparent.har
.gitignore
Interface/adddocument.har
.gitignore
Interface/document.har
.gitignore
.gitignore
