# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
Interface/重复确认.har
Interface/重复项.har
Interface/errorreparent.har
Interface/reparent.har
.gitignore
Interface/adddocument.har
.gitignore
Interface/document.har
.gitignore
.gitignore
Interface/多个请求参数
Interface/全部展开的返回值
Interface/需要的多个请求参数
Interface/展开.txt
Interface/展开返回值.txt
Interface/error.har
Interface/success.har
.agents/skills/skill-creator/scripts/__init__.py
.agents/skills/skill-creator/scripts/aggregate_benchmark.py
.agents/skills/skill-creator/scripts/generate_report.py
.agents/skills/skill-creator/scripts/improve_description.py
.agents/skills/skill-creator/scripts/package_skill.py
.agents/skills/skill-creator/scripts/quick_validate.py
.agents/skills/skill-creator/scripts/run_eval.py
.agents/skills/skill-creator/scripts/run_loop.py
.agents/skills/skill-creator/scripts/utils.py
